<h1>Editing camping</h1>

<%= render "form", camping: @camping %>

<br>

<div>
  <%= link_to "Show this camping", [@country, @region, @city, @camping] %> |
  <%= link_to "Back to campings", country_region_city_campings_path(@region) %>
</div>
