<h1>Editing city</h1>

<%= render "form", city: @city %>

<br>

<div>
  <%= link_to "Show this city", [@country, @region, @city] %> |
  <%= link_to "Back to cities", country_region_cities_path(@region) %>
</div>
