<h1>Editing region</h1>

<%= render "form", region: @region %>

<br>

<div>
  <%= link_to "Show this region", [@country, @region] %> |
  <%= link_to "Back to regions", country_regions_path(@region) %>
</div>
